{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas onmousemove="myFunction(event)" id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    //var url = window.location.href;

  
    // create websocket
    var socket = new WebSocket('ws://p4-FLinesse-joshua871210126271.codeanyapp.com:8765/');
  
  //https://stackoverflow.com/questions/23051416/uncaught-invalidstateerror-failed-to-execute-send-on-websocket-still-in-co
  function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}
  
  /* part 1b */
  
  // when starting: generate unique id, generate random color
  // whenever move: 
  //   make msg with point, id, color
  // when receive: 
  // check if in list of ids
  //  if yes:
  //    draw new path to color, id 
  //  if no:
  //    make new path, starting at point w/ appropriate color
  
  /* part 1a
    // setting up the canvas and one paper tool

  var roughPath = new paper.Path();
  roughPath.strokeColor = 'black';

  function myFunction(event) {
 
    var xCoord = event.clientX;
    var yCoord = event.clientY;
    
    var sendPoint = new paper.Point(xCoord, yCoord);
    var msg = {
      type: "message",
      text: sendPoint,
    }
    socket.send(JSON.stringify(msg));
    
    //roughPath.lineTo(xCoord, yCoord)
}
  
  

  
  socket.onmessage = function (event) {
    var msg = JSON.parse(event.data);
    var drawPoint = msg.text;
    roughPath.strokeColor = 'black';
    
    roughPath.lineTo(drawPoint[1], drawPoint[2]);

  //console.log(event.data);
}
*/
  


</script>
</html>